<div>
  <mat-toolbar class="toolbar">
    <span>Angular Material Cron Demo</span>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutAlign="center center">
    <h3>Cron Settings</h3>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox
        *ngFor="let setting of otherSettings"
        [checked]="cronOptions[setting]"
        (change)="updateSetting($event, setting)"
      >{{setting}}</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-checkbox
        *ngFor="let setting of betweenSettings"
        [checked]="cronOptions[setting]"
        (change)="updateSetting($event, setting)"
      >{{setting}}</mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Default Cron</mat-label>
        <input matInput [value]="cronOptions.defaultCron" #defaultCron>
      </mat-form-field>
    </div>
    <mat-cron-editor
      (cronEvent)="showCron($event)"
      [cronOptions]="cronOptions"
    ></mat-cron-editor>
    <h1>{{resultingCron}}</h1>
  </div>
</div>


